@model IList<Turma>

@{
    ViewData["Title"] = "Turmas";
}

<div class="row">
    <div class="col-6 mb-5">
        <p>
            <a asp-action="Cadastrar">Criar Novo</a>
        </p>
        <alerta mensagem="@TempData["msg"]" tipo="success"></alerta>
    </div>
</div>

@foreach (var item in Model)
{
    <div class="row">
        <div class="col-12">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Nome)</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Periodo)</p>
                    <a asp-action="Editar" asp-route-id="@item.TurmaId" class="btn btn-primary">Visitar</a>
                </div>
            </div>
        </div>
    </div>
}