@model IList<Aluno>

@{
    ViewData["Title"] = "Listar alunos";
}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <a asp-action="Cadastrar">Cadastrar novo</a>
                <alerta mensagem="@TempData["msg"]" tipo="success"></alerta>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Turma</th>
                            <th>Gênero</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var item in Model)
                        {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                            <td>@Html.DisplayFor(modelItem => item.Turma.Nome)</td>
                            <td>@Html.DisplayFor(modelItem => item.Genero)</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>