<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Lista de clientes</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Lista de clientes</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <form th:action="@{/cliente/buscar}" class="form-inline mt-3 mb-3">
                    <input type="text" name="termoBusca" th:value="${termoBusca}" class="form-control" placeholder="Digite o nome ou cpf">
                    <button type="submit" class="btn btn-outline-success ml-2">Buscar</button>
                    <a th:href="@{/cliente/listar}" class="btn btn-outline-info ml-2" th:if="${termoBusca}">Limpar</a>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table class="table table-hover">
                    <tr>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Data de nascimento</th>
                        <th>CPF</th>
                        <th></th>
                    </tr>
                    <tr th:each="cliente:${clientes}">
                        <td th:text="${cliente.nome}"></td>
                        <td th:text="${cliente.email}"></td>
                        <td th:text="${#temporals.format(cliente.dataNascimento, 'dd/MM/yyyy')}"></td>
                        <td th:text="${cliente.cpf}"></td>
                        <td>
                            <a class="btn btn-outline-success btn-sm" th:href="@{/pedido/cadastrar/}+${cliente.codigo}">Fazer pedido</a>
                            <a class="btn btn-outline-info btn-sm" th:href="@{/pedido/listar/}+${cliente.codigo}">Pedidos</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>