<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>302392964288-7u2e2unikh3j2kkqutdop0a4mfe0jebb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.302392964288-7u2e2unikh3j2kkqutdop0a4mfe0jebb</string>
	<key>API_KEY</key>
	<string>AIzaSyD1fv6Yc87jMJs3xdJdMduo4IbDNwupLhs</string>
	<key>GCM_SENDER_ID</key>
	<string>302392964288</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.fiap.ShoppingList</string>
	<key>PROJECT_ID</key>
	<string>shoppinglist2tdsr</string>
	<key>STORAGE_BUCKET</key>
	<string>shoppinglist2tdsr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:302392964288:ios:96af10626e9cceab7ae925</string>
	<key>DATABASE_URL</key>
	<string>https://shoppinglist2tdsr.firebaseio.com</string>
</dict>
</plist>